version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
    depends_on:
      - elasticsearch

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms10g -Xmx32g
    ports:
      - "9200:9200"
